body {
    background-color: #333341;
}

.ninja_main, h1, h2, h3 {
    font-family: "Verdana", Verdana, sans-serif;
    color: #eeeefa;
}

.focal_word, .output_p, .output_tuple, .results, .optional, p, td, input {
    font-family: "Verdana", Verdana, sans-serif;
    color: #ffdce1;
}

.results {
    margin-top: 20px;
}

.fieldlabel {
    white-space: nowrap;
    font-weight: bold;
    color: #eeeefa;
}

.verticalcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.optional {
    color: #eeeefa;
    font-size: 75%;
}

.output_tuple {
    line-height: 130%;
    margin-bottom: 2px;
    margin-top: 0px;
}

.output_p {
    color: #22dce1;
    line-height: 110%;
    margin-left: 15px;
    text-indent: -15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.focal_word {
    font-weight: bold;
    color: #22dce1;
}

input {
    background: black;
    margin: 3px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

center {
    color: #16aabb;
}

a {
    color: #22dce1;
}

a:visited {
    color: #1ac0d0;
}
