body {
    background-color: #333341;
}

.ninja_main, h1, h2, h3 {
    font-family: "Verdana", Verdana, sans-serif;
    color: #eeeefa;
}

.word, .output_word, .tuple, .results, p, td, input {
    font-family: "Verdana", Verdana, sans-serif;
    color: #22dce1;
}

.results {
    margin-top: 20px;
}

.fieldlabel {
    white-space: nowrap;
    font-weight: bold;
    color: #eeeefa;
}

.optional {
    color: #eeeefa;
}

.tuple {
}

.focal_word {
    font-weight: bold;
}

.output_word {
}

input {
    background: black;
    margin: 3px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

center {
    color: #16aabb;
}

a {
    color: #22dce1;
}

a:visited {
    color: #1ac0d0;
}
